*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width:1000px ;
    margin: 0 auto;
}
.header{
    display: flex;
    /* justify-content: space-between; */
    height: 70px;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 0;
}
.auth {
    margin-left: 520px;
}
.header-logo{
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}
.navigation li{
    margin-left: 30px;
    list-style: none;
}
.navigation li:hover{
    color: red;
    cursor: pointer;
}
.ssss{
    text-decoration: none;
}
.signUp{
padding: 12px 22px 12px 22px ;
border-radius: 10px;
background-color: #4d77ff;
color: white;
border: none;
cursor: pointer;

}
.signUp:hover{
    background-color: red;
    
}
.signIn{
    padding: 12px 22px 12px 22px ;
    border-radius: 10px;
    background-color:white;
    border: none;  
    cursor: pointer;
}
.signIn:hover{
    background-color: red;
}
.servises{
    margin-top: 70px;
}
.cervis-text h3{
    margin-top: 20px;
}